
.dash-title{
    margin-bottom: 30px;
}

.dashboard-select-input{
    margin-left: 10px;
}

.dashboard-inline-select{
    margin-right: auto;
    margin-left: auto;
}

.dashboard-col-select:first-child{
    margin-right: 17px;
}

.dashboard-col-select:last-child{
    margin-left: 17px;
}

.dashboard-stat-lable{
    color: #ffffff;
    font-weight: bold;
    font-size: 2rem;
}

.dashboard-nav-cmd{
    padding: 0 !important;
}

.dashboard-rows{
    margin: 0 !important;
}

.question_stats_con{
    margin-top: 35px;
    margin-bottom: 10px;
    padding-bottom: 20px;
}

.question_stats_con table thead tr th{
    border: none !important;
}

.question-stat-table tbody tr:last-child{
    border-bottom: thin solid #dee2e6;
}
