
.interview-table-con{
    margin-top: 30px;
}

.interview-table-con table tbody tr:last-child{
    border-bottom: thin solid #dee2e6;
}

.int-cmd-btn:not(:first-child){
    margin-left: 10px;
}

.int-cmd-btn:hover{
    background-color: #28a745;
    border-color: #28a745;
}

.int-cmd-btn:focus{   
    box-shadow: none;    
}

.survey-cmd-btn:not(:first-child){
    margin-left: 10px;
}

.survey-cmd-btn:hover{
    background-color: #28a745;
    border-color: #28a745;
}

.survey-cmd-btn:focus{   
    box-shadow: none;    
}

.int-cmd-btn-active{
    background-color: #28a745 !important;
    border-color: #28a745 !important;
}

.int-start-survey-btn:hover{
    background-color: #007bff;
    border-color: #007bff;
}

.int-start-survey-btn:focus{   
    box-shadow: none;    
}

.int-show-anwsers-btn:hover{
    background-color: #007bff;
    border-color: #007bff;
}

.int-show-anwsers-btn:focus{   
    box-shadow: none;    
}

.int-respons-modal{
    max-width: 900px;
}

.int-hidden-btns{
    display: none;
}

/*.survey-ansers-display{
 This is for the text anwser
}*/

.survey-anwsers{
/* This is for the input like radio or check*/
    margin-right: 10px;
}

.survey-anwser-ul{
    list-style: none;
    margin-top: 10px;
}

.int-info-row{
    margin-top: 15px;
}

.int-info-row:not(:first-child){
    margin-bottom: 17px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.int-survey-info{
    background-color: #a9a9a9;
}

.error-no-anwser{
    border-style: solid;
    border-width: 1px;
    border-color: rgba(220, 53, 69, .9);  
}
