
.interview-table-con{
    margin-top: 30px;
}

.interview-table-con table tbody tr:last-child{
    border-bottom: thin solid #dee2e6;
}

.int-cmd-btn:not(:first-child){
    margin-left: 10px;
}

.int-cmd-btn:hover{
    background-color: #28a745;
    border-color: #28a745;
}

.int-cmd-btn:focus{   
    box-shadow: none;    
}

.survey-cmd-btn:not(:first-child){
    margin-left: 10px;
}

.survey-cmd-btn:hover{
    background-color: #28a745;
    border-color: #28a745;
}

.survey-cmd-btn:focus{   
    box-shadow: none;    
}

.int-cmd-btn-active{
    background-color: #28a745 !important;
    border-color: #28a745 !important;
}

.int-start-survey-btn:hover{
    background-color: #007bff;
    border-color: #007bff;
}

.int-start-survey-btn:focus{   
    box-shadow: none;    
}

.int-show-anwsers-btn:hover{
    background-color: #007bff;
    border-color: #007bff;
}

.int-show-anwsers-btn:focus{   
    box-shadow: none;    
}

.int-respons-modal{
    max-width: 900px;
}

.int-hidden-btns{
    display: none;
}

.survey-ansers-display{

}

.survey-anwsers{

}

.survey-anwser-ul{
    
}
