


#logoutUL{
    padding-right: 50px;
}

.menu_a{
    outline: none;
    cursor: pointer;
}

.mydarkdrop{
    background-color: #343a40;    
}

.mydarkdrop a{
   color:#999c9f; 
}

.mydarkdrop a:hover{
    background-color: #343a40;
    color:rgba(255,255,255,.75);
}

.menu-brand{
    color: #ffffff;    
}

