

.page-title{
    background-color: transparent !important;
    margin-top: 22px;
}

.page-name{
    font-size: 3.2em;
}

.user-table{
    margin-top: 30px;
}

.user-table table tbody tr:last-child{
    border-bottom: thin solid #dee2e6;
}

.deletebtn{
    margin-left: 25px;
}

.editbtn{

}

.editbtn:hover{
    background-color: #ffc107;
    border-color: #ffc107;
}

.deletebtn:hover{
    background-color: #dc3545;
    border-color: #dc3545;
}

.disbtn{
    cursor: default !important;
}

.disbtn:hover{
    background-color: #6c757d;
    border-color: #6c757d;
}

