.page-title{
    background-color: transparent !important;
    margin-top: 22px;
}

.page-name{
    font-size: 3.2em;
}

.deletebtn{
    margin-left: 25px;
}

.editbtn:hover{
    background-color: #ffc107;
    border-color: #ffc107;
}

.editbtn:focus{   
    box-shadow: none;    
}

.deletebtn:focus{   
    box-shadow: none;    
}

.deletebtn:hover{
    background-color: #dc3545;
    border-color: #dc3545;
}

.disbtn{
    cursor: default !important;
}

.disbtn:hover{
    background-color: #6c757d;
    border-color: #6c757d;
}

.form-error-msg{
    color: crimson;
    margin: 0;
    padding: 0;
    margin-left: 15px;
    margin-top: 15px;
    font-weight: bold;
    font-size: 1em;
}

.required{   
    box-shadow: 0 0 0 .2rem rgba(220, 53, 69, .9) !important;    
}

.pop-edit-btn:hover{
    background-color: #ffc107;
    border-color: #ffc107;
}

.pop-edit-btn:focus{   
    box-shadow: none;    
}

.pop-groups-btn:hover{
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.pop-groups-btn:focus{
    box-shadow: none;
}

.pop-delete-btn:focus{   
    box-shadow: none;    
}

.pop-delete-btn:hover{
    background-color: #dc3545;
    border-color: #dc3545;
}

.pop-delete-btn{
    margin-left: 25px;
}

.pop-groups-btn{
    margin-left: 25px;
}

.modal .modal-body{
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 400px;
}

.all-group-del-btn:focus{   
    box-shadow: none;    
}

.all-group-del-btn:hover{
    background-color: #dc3545;
    border-color: #dc3545;
}

.study-edit-btn:hover{
    background-color: #ffc107;
    border-color: #ffc107;
}

.study-edit-btn:focus{   
    box-shadow: none;    
}

.study-pop-btn:hover{
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.study-pop-btn:focus{
    box-shadow: none;
}

.study-delete-btn:focus{   
    box-shadow: none;    
}

.study-delete-btn:hover{
    background-color: #dc3545;
    border-color: #dc3545;
}

.study-delete-btn{
    margin-left: 10px;
}

.study-pop-btn{
    margin-left: 10px;
}

.study-questions-btn{
    margin-left: 10px;
}

.study-questions-btn:focus{   
    box-shadow: none;    
}

.study-questions-btn:hover{
    background-color: #007bff;
    border-color: #007bff;
}
