
.pop-table{
    margin-top: 30px;
}

.pop-table table tbody tr:last-child{
    border-bottom: thin solid #dee2e6;
}
.pop-cmd-btn:not(:first-child){
    margin-left: 10px;
}

.pop-cmd-btn:hover{
    background-color: #28a745;
    border-color: #28a745;
}

.pop-cmd-btn:focus{   
    box-shadow: none;    
}

.pop-add-edit-table tbody tr td{
    border: none !important;
}

.group-chkbox{
    margin-left: 25px;
}


