
.study-table{
    margin-top: 30px;
}

.study-table table tbody tr:last-child{
    border-bottom: thin solid #dee2e6;
}

.study-cmd-btn:not(:first-child){
    margin-left: 10px;
}

.study-cmd-btn:hover{
    background-color: #28a745;
    border-color: #28a745;
}

.study-cmd-btn:focus{   
    box-shadow: none;    
}

.study-add-edit-table tbody tr td{
    border: none !important;
}

.study-group-namebar{
    background-color: transparent !important;
}

.study-group-namebar:not(:first-child){
    border-top: thin solid #dee2e6;
}

.study-quest-edit-btn{
    margin-right: 10px;
}

.question_add_edit_table tbody tr td{
    border: none !important;
}

.answer_addedit_table tbody tr td{
    border: none !important;
}

.connect_group_table tbody tr td{
    border: none !important;
}

.study_question_table thead tr th{
    border: none !important;
}
